.ubrkl { 
  margin-right: 43px;
  border-top-width: 47px;
  padding-bottom: 52px;
  margin-left: 42px;
  border-bottom-width: 30px;
  line-height: 14px;
  margin-top: 37px;
  margin-right: 36px;
  border-left-width: 64px;
  border-right-width: 85px;
  line-height: 97px;
  margin-right: 53px;
  border-top-width: 84px;
  border-bottom-width: 79px;
}
